@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

$bitFont: 'Silkscreen';

@keyframes hoverArrow1 {
    from{
        fill: $c4;
        opacity: 1;
    }
    to{
        fill: $c3;
        opacity: 0;
    }
}

@keyframes hoverArrow2 {
    from{
        fill: $c3;
        opacity: 0;
    }
    to{
        fill: $c4;
        opacity: 1;
    }
}

@keyframes hoverArrow3 {
    from{
        fill: $c3;
        opacity: 0;
    }
    to{
        fill: $c4;
        opacity: 1;
    }
}

.arrow{
    width: 100%;
    border: none;
    background-color: #00000000 !important;
    svg{
        cursor: pointer;
        height: 5vh;
        width: 5vh;
        #arrow1{
            fill: $c2;
            opacity: 1;
        }
        #arrow2{
            fill: $c2;
            opacity: 0;
        }
        #arrow3{
            fill: $c2;
            opacity: 0;
        }
        &:hover #arrow1{
            animation-delay: 0.1s;
            animation-duration: 0.5s;
            animation-name: hoverArrow1;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: ease-in;
            animation-fill-mode: both;
        }
        &:hover #arrow2{
            animation-delay: 0.1s;
            animation-duration: 0.5s;
            animation-name: hoverArrow2;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: ease-in;
            animation-fill-mode: both;
        }
        &:hover #arrow3{
            animation-delay: 0.3s;
            animation-duration: 0.5s;
            animation-name: hoverArrow3;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: ease-in;
            animation-fill-mode: both;
        }
    }
}

@keyframes fadeOut {
    from{
        top: 0vh;
        opacity: 1;
        z-index: 3;
    }
    to{
        top: -100vh;
        opacity: 0;
        z-index: 1;
    }
}

@keyframes fadeIn {
    from{
        top: 100vh;
        opacity: 0;
        z-index: 1;
    }
    to{
        top: 0vh;
        opacity: 1;
        z-index: 3;
    }
}

.active{
    opacity: 1;
    z-index: 3;
}

.inactive{
    opacity: 0;
    z-index: 1;
}

@keyframes appear {

    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }

}

.hidden{
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-direction: reverse;
    animation-name: appear;
}

.winner{
    width: fit-content;
    aspect-ratio: 1;
    height:6rem;
    opacity: 0.9;
}

.looser{
    width: fit-content;
    height: 4rem;
    padding-top: 1rem;
    opacity: 0.3;
    aspect-ratio: 1;
}

.draw{
    width: fit-content;
    height: 5rem;
    padding-top: 1rem;
    opacity: 0.7;
    aspect-ratio: 1;
}

.resultsText{
    padding-top: 2rem;
    height: 4rem !important;
}

.resultsBox{
    font-size: 1.5rem;
    height: 6rem;
    color: $c3;
}

.spin {
    transition: transform 1s;
    transform: rotate(360);
}

::-webkit-scrollbar{
    opacity: 0;
}

.swal2-title {
    padding: 0% !important;
}

.swal2-icon-content {
    display: block !important;
}

.swal2-actions {
    flex-wrap: nowrap !important;
    width: 100% !important;
}

.userImg {
    height: 10vh;
    width: auto;
    border-radius: 100%;
    image-rendering: optimizeSpeed;
}